PORT=3000
RAINFOREST_API_KEY=
AMAZON_DOMAIN=amazon.co.uk
DEFAULT_DELIVERY_POSTCODE=SW1A1AA
RAINFOREST_TIMEOUT_MS=180000
SEARCH_CANDIDATE_LIMIT=12
OFFERS_PAGES_MAX=1
CACHE_TTL_HOURS=6
CONCURRENCY_LIMIT=2
